<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/23d31140-f9d0-4932-801b-90f9ea7fba3a/resourceGroups/trilhar/providers/Microsoft.Web/sites/trilhar-api</ResourceId>
    <ResourceGroup>trilhar</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://trilhar-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>00644947-1471-48fb-8527-02486efada73</ProjectGuid>
    <PublishUrl>https://trilhar-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$trilhar-api</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAISitygePa0u9FdPCgpZbxgAAAAACAAAAAAAQZgAAAAEAACAAAAAy76ZFrEE74M3BCB841tNqP8gTXVUaXfY5AxOFIzgyHAAAAAAOgAAAAAIAACAAAABdZt4EIDtcCskTDEx+9IEVWE2cyMhQwz2A2cSnM+OsA4AAAAAllR+AKbYxV8jqNbeE439CpWzEM9jY3gq/3dPyVIGtgMyfhY4gtki/MaPk4dDwocdMB6S7AnL3o24SratClYl1G2D7VvRfOMOAFUjebSE8i7zBRcC0/Grq8rEAA3/6uro6j4TnDKJYwqY2yduec73w4m7OZS5uBtlytDp3t9byukAAAADNSYZIKKh8Ytxq5Wh44jrrLlv7udBZ+AyNAaqDu2mhGOyH+3jnDgdLc2yA55B5vNmbTHZmSTbrR3apUUVE0xCX</EncryptedPassword>
    <History>False|2024-06-04T00:57:32.5462247Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>